<% if resource.errors.any? %>
<div class="container mt-5">
  <div id="error_explanation" class="alert alert-danger" data-turbo-cache="false">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>
