<%= render 'common/post_card', post: @post, bookmark: @bookmark %>
<%= render 'common/post_comments_field', post: @post, comments: @comments %>

<div class="container mt-3">
  <div id="map-show" data-post-id="<%= @post.id %>"></div>
</div>

<%= javascript_pack_tag 'map_show', 'data-turbolinks-track': 'reload' %>

