<%= render 'common/post_card', post: @post %>
<%= render 'common/post_comments_field', post: @post, comments: @comments %>

<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-12 text-center">
      MAPデータ導入予定
    </div>
  </div>
</div>

