<% content_for :css do %>
  <%= stylesheet_link_tag 'public/homes/top', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="container">
  <div class="row">
    <h1 class="title col-12 mb-5">地域のRealをここに <i class="fa-solid fa-earth-asia"></i></h1>
    <div class="col-6 offset-3 text-center">
      <%= link_to "新規登録", new_user_registration_path, class: "btn text-decoration-none btn-sign-up" %>
    </div>
    <div class="col-6 offset-3 text-center mt-5">
      <%= link_to "ログイン", new_user_session_path, class: "btn text-decoration-none btn-sign-in" %>
    </div>
    <div class="col-6 offset-3 text-center mt-5">
      <%= link_to "ゲスト", guest_sign_in_path, method: :post, class: "btn text-decoration-none btn-guest" %>
    </div>
  </div>
</div>
