.title {
  color: cadetblue;
  font-size: 80px;
  margin: 40px 0 0 40px;
}

.btn-sign-up {
  background-color: darkcyan;
  color: white;
  font-size: 20px;
}

.btn-sign-in {
  background-color: rgb(101, 167, 215);
  color: white;
  font-size: 20px;
}

.btn-guest {
  background-color: rgb(241, 170, 84);
  color: white;
  font-size: 20px;

}

.btn:hover {
  color: white;
}

@media screen and (max-width: 375px) {
  .title {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 50px;
  }
}
