* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 80px;
  width: 95%;
  background-color: cadetblue;
  color: white;
  padding: 7px 0;
  border-radius: 30px;
  margin: 0 auto;
  margin-top: 30px;
}

.header .fa-house {
  font-size: 60px;
  color: white;
}

.header .logo-title {
  font-size: 40px;
  color: white;
  text-decoration: none;
}

.nav-box {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.nav-link {
  font-size: 18px;
}

.custom-navbar {
  position: relative;
  background-color: cadetblue;
  padding: 0;
  z-index: 1;
}

.custom-navbar .navbar-toggler {
  border-color: white;
}

.custom-navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.dropdown-menu {
  background-color: cadetblue;
}

.dropdown-menu a {
  color: white;
}

.nav-item .nav-link {
  color: white;
  border-radius: 30px;
  margin-left: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.nav-item .nav-link:hover {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3); /* 強いシャドウ */
  transform: translateY(-3px); /* 少し上に移動 */
}

.nav-item .nav-link:active {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* 元のシャドウに戻る */
  transform: translateY(0); /* 元の位置に戻る */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  margin: 0;
}

.content-wrapper {
  flex: 1; 
}


.footer {
  height: 80px;
  width: 95%;
  background-color: cadetblue;
  color: white;
  padding: 7px 0;
  border-radius: 30px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 10px;
}

.field_with_errors {
  display: contents; 
}